
/* --------- SECTION 1 ----------- */

.home-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: #FFF4EC;
    padding: 0 120px 0 100px;
}


.home-header{
    font-size: 4rem;
    color:#635151;
    margin-bottom: 30px;
}

.home-subheader{
    margin: 0;
    font-size: 1.2rem;
    color:#635151;
}

@media (max-width: 800px) {
    .home-section {
        flex-direction: column;
        justify-content: center;
      }

    .home-header{
        font-size: 3rem;
        color:#635151;
        margin-bottom: 30px;
        text-align: center;
    }

    .home-subheader{
        margin: 0;
        font-size: 1.2rem;
        color:#635151;
        text-align: center;
    }

    .home-header-img{
        padding-top: 30px ;
        width: 50%;
    }
  }

  /* --------- SECTION 2 ----------- */

  .section2-text{
    font-size: 2.5rem;
    margin: 80px 170px;
    color:#635151;
    text-align: center;
  }

  @media (max-width: 800px) {
    .section2-text{
        font-size: 1.7rem;
        margin: 80px 140px;
        color:#635151;
        text-align: center;
      }
  }


    /* --------- SECTION 3 ----------- */

.home-section3{
    background-color: #FFF4EC;
    color:#635151;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.section3-container{
    display: flex;
    justify-content: center;
}

.section3-header{
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 25px;
}

.section3-item{
    text-align: center;
    width: 25%;
    padding: 30px;
}

.section3-icons{
    font-size: 8rem;
}

.section3-itemtext{
    font-size: 1.2rem;
}

@media (max-width: 800px) {

    }


 /* --------- SECTION 4 ----------- */

 .home-section4{
    background-color: #FFF4EC;
    color:#635151;  
}

.section4-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 230px;
}

.section4-header{
    text-align: center;
    font-size: 3rem;
    padding-top: 70px;
    padding-bottom: 50px;
    margin: 0;
}

.product-link{
    text-decoration: none;
    color:#635151; 
}

/* --------- SECTION 4 ----------- */

.home-section5{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section5-div{
    text-align: center;
    color:#635151; 
}

.section5-header{
    margin: 0;
    padding: 20px;
    font-size: 4rem;
}

.section5-button{
    background-color: #A86C64;
    border-style: none;
    color: white;
    font-family: 'Alata', sans-serif;
    font-size: 2rem;
    margin: 20px;
    padding: 15px 40px;
}